<div>
  <h1 align="center" class="display-4 mb-5">{{title}}</h1>
  
  <!--<div class="container " align="right ">
  <input type = "text" align="center" style="background-color: rgba(179, 204, 229, 0.426) ;" name="search" [(ngModel)]="searchText" placeholder =" Search" class="display-4 mb-5" />
  </div>-->
  <div class="container">

    <div class="row height d-flex justify-content-center align-items-center">

      <div class="col-md-8">

        <div class="search">
          <i class="fa fa-search"></i>
          <input type="text" class="form-control" placeholder="Search anything You want :)" name="search" [(ngModel)]="searchText">
          <button class="btn btn-primary">Search</button>
        </div>
        
      </div>
      
    </div>
</div>
  
  <div class="row card-deck text-center">
   
  
    <div *ngFor="let productInfo of page?.content | filter:searchText" class="col-lg-4 ">
      <div class="card" style="width:350px"  >
        <img height="50%" class="card-img-top" src="{{productInfo.productIcon}}" alt="{{productInfo.productName}}">
        <div class="card-body">
          <h4 class="card-title ">{{productInfo.productName}}</h4>
          
          <div class="text-left">
            <p class="card-text"><strong>Description: </strong>{{productInfo.productDescription}}</p>
            <p class="card-text"><strong>Price: </strong>{{productInfo.productPrice | currency}}</p>
            <p class="card-text"><strong>Stock: </strong>{{productInfo.productStock}}</p>
          </div>
          <br>
          <a routerLink="/product/{{productInfo.productId}}" *ngIf="productInfo.productStatus == 0; else offBlock"
             class="btn btn-primary btn-lg"
          >Get It!</a>
          <ng-template #offBlock><a class="btn btn-secondary btn-lg disabled">Unavailable</a></ng-template>
        </div>
      </div>
    </div>
  </div>
  
    <!--<div class="carousel" style="padding-bottom: 5px">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQULafWZEy2pEs3NS0WwFHfe3HDJUbQK-8m8w&usqp=CAU"
          class="d-block w-100" alt="..." />
      </div>
      
    </div>
    
  </div>
</div>

<div class="container">
  <div class="featured-product product">
    <div class="container-fluid">
      <div class="section-header">
        <h1>Products</h1>
      </div>
      <div class="row align-items-center product-slider product-slider-4">

        <div class="col-lg-3">
          <div class="product-item">
            <div class="product-title">
              <a routerLink="">Hand Made Flowers</a>
              <div class="ratting">

              </div>
            </div>

            <div class="product-image">
              <a routerLink="viewproduct">
                <img src="../../assets/product1.jpg" alt="Product Image" />
              </a>
              <div class="product-action">

              </div>
            </div>
            <div class="product-price">
              <h3><span>$</span>100</h3>

              >
            </div>
          </div>
        </div>


        <div class="col-lg-3">
          <div class="product-item">
            <div class="product-title">
              <a routerLink="viewproduct">Decor</a>
              <div class="ratting">

              </div>
            </div>
            <div class="product-image">
              <a routerLink="viewproduct">
                <img src="../../assets/product2.jpg" alt="Product Image" />
              </a>
              <div class="product-action">

              </div>
            </div>
            <div class="product-price">
              <h3><span>$</span>200</h3>

              >
            </div>
          </div>
        </div>


        <div class="col-lg-3">
          <div class="product-item">
            <div class="product-title">
              <a routerLink="viewproduct">Decor</a>
              <div class="ratting">

              </div>
            </div>
            <div class="product-image">
              <a routerLink="viewproduct">
                <img src="../../assets/product3.jpg" alt="Product Image" />
              </a>
              <div class="product-action">

              </div>
            </div>
            <div class="product-price">
              <h3><span>$</span>25</h3>

            </div>
          </div>
        </div>


        <div class="col-lg-3">
          <div class="product-item" routerLink="viewproduct">
            <div class="product-title">
              <a routerLink="viewproduct">Decor</a>
              <div class="ratting">

              </div>
            </div>
            <div class="product-image">
              <a routerLink="viewproduct">
                <img src="../../assets/product4.jpg" alt="Product Image" />
              </a>
              <div class="product-action">

              </div>
            </div>
            <div class="product-price">
              <h3><span>$</span>200</h3>

            </div>
          </div>
        </div>











      </div>
    </div>
  </div>
</div>-->


  
  <app-pagination  [currentPage]="page" ></app-pagination>
  