<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div class="col-md-12 column">
  <ul class="pagination justify-content-end">
      <li class="page-item" *ngIf="currentPage?.number > 0; else prev">
          <a
              class="page-link"
                  [routerLink]="['./']"
                  [queryParams]="{ page: currentPage?.number, size: currentPage?.size }"
          >Previous</a>
    </li>
      <ng-template #prev>
          <li class="page-item  disabled"><a class="page-link">Previous</a></li>
      </ng-template>

      <ng-container *ngFor="let item of counter(currentPage?.totalPages); let i = index">
          <li class="page-item" *ngIf="currentPage && currentPage.number != i; else active">
            <a class="page-link "
                    routerLink="./"
                    [queryParams]="{ page: i + 1, size: currentPage?.size }"
            >{{ i + 1 }}</a
            >
        </li>
          <ng-template #active>
              <li
                      class="page-item active "

              >
                  <button class="page-link " disabled>{{ i + 1 }}</button>
              </li>
          </ng-template>
      </ng-container>

      <li
              class="page-item"
              *ngIf="currentPage?.number + 1 < currentPage?.totalPages; else next"
      >
          <a
                  class="page-link"
                  [routerLink]="['./']"
                  [queryParams]="{
          page: currentPage?.number + 2,
          size: currentPage?.size
        }"
          >Next</a
          >
    </li>
    <ng-template #next>
        <li class="page-item disabled "><a class="page-link">Next</a></li>
    </ng-template>
  </ul>
</div>
<br><br><br><br><br>
<!--<footer>
  <ul>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-google"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-github"></i></a>
  </ul>
  <ul>
    <li><a href="#">ShopForHome</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>                                              
    <li><a href="#">Help</a></li>
  </ul>
</footer>
<footer>
  <ul>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-facebook-f"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-twitter"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-google"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-instagram"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-linkedin-in"></i></a>
    <a class="btn btn-outline-light btn-floating btn-lg mr-4 mt-4" href="#!"><i class="fab fa-github"></i></a>
  </ul>
  <ul>
    <li><a href="#">ShopForHome</a></li>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>                                              
    <li><a href="#">Help</a></li>
  </ul>
</footer>-->
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">
  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #07090d"
          >
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              ShopForHome
            </h6>
            <p>
              Our Mission & Vision is to provide best valued products to customers across globe.
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
            <p>
              <a class="text-white">Home</a>
            </p>
            <p>
              <a class="text-white">Furnishings</a>
            </p>
            <p>
              <a class="text-white">Wall Accents</a>
            </p>
            <p>
              <a class="text-white">Decor</a>
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none" />

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> Punjagutta,Hyderabad</p>
            <p><i class="fas fa-envelope mr-3"></i> bhargavi@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> +91 1234 567 288</p>
            <p><i class="fas fa-print mr-3"></i> + 91 1234 567 789</p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Follow us</h6>

            <!-- Facebook -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #3b5998"
               href="#!"
               role="button"
               ><i class="fab fa-facebook-f"></i
              ></a>

            <!-- Twitter -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #55acee"
               href="#!"
               role="button"
               ><i class="fab fa-twitter"></i
              ></a>

            <!-- Google -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #dd4b39"
               href="#!"
               role="button"
               ><i class="fab fa-google"></i
              ></a>

            <!-- Instagram -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #ac2bac"
               href="#!"
               role="button"
               ><i class="fab fa-instagram"></i
              ></a>

            <!-- Linkedin -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #0082ca"
               href="#!"
               role="button"
               ><i class="fab fa-linkedin-in"></i
              ></a>
            <!-- Github -->
            <a
               class="btn btn-primary btn-floating m-1"
               style="background-color: #333333"
               href="#!"
               role="button"
               ><i class="fab fa-github"></i
              ></a>
          </div>
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2022 Copyright:
      <a class="text-white" href="https://shopforhome.com/"
         >ShopForHome.com</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
